@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

html{
  font-size: 62.5%;
}
*{
  box-sizing: border-box;
}
body {
  background-color: #000;
  color: white;
  font-family: 'Playfair Display',"游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 16px;
}


.wrap {
  //position: absolute;
  top: 200px;
  //left: calc(50% - 140px);
  text-align: center;
  font-size: 3rem;
  //-webkit-transform: translate(-50%, -50%);
  //transform: translate(-50%, -50%)
}
.cont{
  position: absolute;
  bottom: 20px;
  width: 100%;
  transform: translate(0%, 0%);
  font-size: 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .inner{
    max-width: 600px;
    width: auto;
    height: 100%;
    margin: auto;
  }
}

h1,h2,h3{
  font-weight: 100;
  line-height: 1.2;
  margin: .5rem;
}
h1{
  color: white;
  text-align: center;
  font-size: 6rem;
  font-weight: 100;
}
h4{
  border-bottom: 1px solid white;
}
canvas {
  position: relative;
  display: block;
  margin: 20px auto;
  width: 200px !important;
  height: 200px !important;
}
